.App {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App-header {
  background-color: #f14bf4;
  padding: 20px;
  color: white;
}

.migrate-button {
  font-size: 1.2em;
  padding: 10px 20px;
  margin: 20px;
  background-color: aqua;
}

.error-message {
  color: red;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
  background: #e7faa0;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 10px;
  border: 1px solid #fbf8f8;
  text-align: left;
}

th {
  background-color: #0cdbff;
  color: white;
}
tr{
  background-color: black;
}